; SPDX-FileCopyrightText: 2025 Jack Henry
;
; SPDX-License-Identifier: Apache-2.0

registry=https://registry.npmjs.org/
# Ensure that dependencies inside the root package.json are installed with pnpm install.
include-workspace-root=true